body {
 background-color: rgb(166, 188, 241);
}

.logo {
  width: 150px;
  height: 150px;
}
.login {
 text-align: right;
}
h1 {
  margin-top: -80px;

  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}
.inputs {
  display: grid;
  text-align: center;
}