.container2 {
    position: relative;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 700px;
    height: 700px;
    background-color: rgb(21, 13, 88, 0.9);
    padding: 20px;
    border-radius: 4px;
}


h2 {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.labelName {
    color: rgb(255, 255, 255);
}
.insideForm {
    display: inline-grid;
    grid-gap: 20px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center aligns text */
    width: 75px;
    height: 35px;
    border-radius: 10px;
    background-color: white;
    color: rgb(255, 140, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.button .icon {
    position: absolute;
    right: 8px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    transition: transform 0.2s ease;
}

.button .label {
    flex: 1;
    /* Takes up remaining space */
    text-align: center;
    /* Center aligns text */
    z-index: 1;
}