.logbtn {
    width: 130px;
    height: 35px;
    background-color: white;
    text-align: center;
    color: rgb(255, 140, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
}

.modal {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(21, 13, 88, 0.9);
    width: 500px;
    height: 500px;
    text-align: center;
    border-radius: 10px;
}

h2 {
    padding: 50px;
    color: rgb(255, 255, 255);
}

.loginForm {
    font-size: 20px;
    color: white;
    display: inline-grid;
    justify-items: first baseline;
    grid-gap: 20px;
}

.submitbtn {
    width: 130px;
    height: 35px;
    background-color: white;
    text-align: center;
    color: rgb(255, 140, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
}

.invalid-feedback {
    font-size: 15px;
    color: red;
}