.logbtn {
    width: 130px;
    height: 35px;
    background-color: white;
    text-align: center;
    color: rgb(255, 140, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
}

.modal {
    background-color: blue;
}

h2 {
}

.loginForm {
    display: inline-grid;
    justify-items: first baseline;
}

.submitbtn {
    
}